<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/detalhes.css" />
    <title>Detalhes do filmes</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="editar/<%= filme.id %>">Editar</a>
        </li>
        <li>
          <a href="deletar/<%= filme.id %>">Excluir</a>
        </li>
      </ul>
    </nav>

    <section class="card-container">
      <section class="card-title"><%= filme.nome %></section>
      <section class="recipe-image">
        <img
          style="height: 100%; width: 100%; object-fit: contain"
          src="<%= filme.imagem %>"
        />
      </section>

      <section class="card-items">
        <span class="card-item-title">Sinopse</span>
        <ul class="checkmark">
          <li><%= filme.descricao %></li>
        </ul>
      </section>

 
    </section>

    <script src="/js/script.js"></script>
  </body>
</html>
