<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Catálogo</title>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/criar">Criar</a>
        </li>
        <li>
          <a href="/sobre">Sobre</a>
        </li>
      </ul>
    </nav>

    <!-- <% if(message != "") { %>
    <section id="example" class="message-holder">
      <p><%= message %></p>
      <span id="close">&times;</span>
    </section>
    <% } %> -->

    <header>
      <article>
        <h1 style="text-align: center">
          Bem vindo(a) ao Catálogo de Filmes do Lorenzo!
        </h1>
      </article>
    </header>

    <section id="cadastro">
      <h5 style="text-align: center">
        (Clique no poster para deletar ou modificar o filme)
      </h5>

      <section class="card-container">
        <% filmes.forEach((item) => { %>
          <section class="card u-clearfix">
          <a href="/filmes/<%= item.id %>">
            <img src="<%= item.imagem %>" class="card-media"
          </a>
          <!-- <img src="<%= item.imagem %>" alt="" class="card-media" /> -->
          <section class="card-body">
            <h2 class="card-title"><%= item.nome %></h2>
            <span class="card-description subtle"><%=item.descricao %></span>
        </section>
      </section>
      <% }) %>      

    <script src="/js/script.js"></script>
  </body>
</html>

