<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Catálogo de filmes</title>
  </head>

  <body>
    <nav>
      <img
        src="/img/logo-blue.gif"
        class="img-fluid gif"
        alt="Animação Logo Blue"
      />
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#criar">Criar</a>
        </li>
      </ul>
    </nav>

    <% if(message != "") { %>
    <section id="message">
      <p><%= message %></p>
      <span id="close">&times;</span>
    </section>
    <% } %>

    <header>
      <article>
        <h1>Bem vindo(a) ao Catálogo de Filmes do Lorenzo!</h1>
      </article>
    </header>

    <section id="cadastro">
      <h1 style="text-align: center">Filmes Cadastrados:</h1>
      <h5 style="text-align: center">(Clique no poster para detalhe)</h5>
      <section id="filmes"></section>
      <% filmes.forEach(item => { %>
      <section class="card">
        <article id="content">
          <ul>
            <li><%= item.nome %></li>
            <a href="/filmes/<%= item.id%>">
              <img src="<%= item.imagem %>" width="250" />
            </a>
            <li>Resumo: <%= item.descricao %></li>
          </ul>
        </article>
      </section>
      <% }) %>
    </section>

    <section id="inscrever">
      <h2>Inscreva-se!</h2>

      <form action="/subscription" method="POST">
        <div>
          <label for="nome">Nome: </label>
          <input
            type="text"
            name="nome"
            id="nome"
            placeholder="Digite seu nome"
            required
          />
        </div>

        <div>
          <label for="email">E-mail: </label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Digite seu email"
            required
          />
        </div>

        <button type="submit">Inscrever-se</button>
      </form>
    </section>

    <footer>
      <p>
        Projeto criado por:
        <a href="https://github.com/Laurentius96" target="_blank">
          Lorenzo C. Bianchi</a
        >
      </p>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
